body	{
	background-color: #eff0f2 !important;
}

a:active, a:visited, a:link {
	font-family: "Roboto Condensed", sans-serif !important;
	font-weight: bold !important;
	font-size: 15px !important;
	color: #333 !important;
	text-decoration: none !important;
}

a:hover {
	opacity: 0.80 !important;
	cursor: pointer !important;
}

.body-font-2 a {
	font-size: 16px !important;
	color: #333 !important;
}

#navbar-wrapper .navbar-right a:hover	{
	opacity: 0.80 !important;
	color: #333 !important;
	background-color: #eff0f2 !important;
	text-decoration: none !important;
}


.dropdown-menu a:hover	{
	opacity: 0.80 !important;
	color: #333 !important;
	background-color: #eff0f2 !important;
	text-decoration: none !important;
}


.active-heading	{
	border-bottom: 4px solid #333; !important;
	
}

.active-home	{
	display: none !important;
}

#hidden	{
	display: none !important;
}

li {
	list-style: none !important;
}

#nested-contact {
	height: auto !important;
	width: 100% !important;
}




h2	{
	font-family: "Roboto", sans-serif;
	color: #333;
	opacity: 0.80;
}

h4 {
	opacity: 0.90;
}


.pull-up {
	margin-top: -110px !important;
}


.body-font {
	font-family: 'Open Sans', sans-serif !important;
	font-size: 115% !important;
	font-weight: 600 !important;
	text-align: left;
	color: #000;
	opacity: 0.70;
}

.body-font-404 {
	font-family: 'Open Sans', sans-serif !important;
	font-size: 115% !important;
	font-weight: 600 !important;
	text-align: center;
	color: #000;
	opacity: 0.70;
}

.body-font-2 {
	font-family: 'Open Sans', sans-serif !important;
	font-size: 115% !important;
	font-weight: 600 !important;
	text-align: center;
	color: #000;
	opacity: 0.70;
}

.body-font-2 .black {
	font-family: "Roboto Condensed", sans-serif !important;
	font-weight: bold !important;
	font-size: 16px !important;
	color: #333 !important;
	text-decoration: none !important;
}

.body-sub-font {
	font-family: 'Open Sans', sans-serif !important;
	font-size: 100% !important;
	font-weight: 600 !important;
	text-align: left;
	color: #000;
	opacity: 0.70;
}

.fa-exclamation-triangle {
	color: #FF8A00;
	font-size: 70px;
}

#navbar-wrapper	{
	background-color: #eff0f2 !important;
	border-radius: 0px;
	position: absolute;
	top: 0px !important;
	padding: 0 50px 0 50px !important;
	width: 100%;
	height: 60px !important;
	z-index: 5 !important;
}

#navbar-wrapper a	{
	font-family: "Roboto Condensed", sans-serif;
	font-weight: bold;
	font-size: 15px;
	border-radius: 0px;
	color: #000 !important;
	z-index: 5 !important;
}

.navbar-brand	{
		color: #eff0f2 !important;
		font-size: 100% !important;
		border: 1px solid #c00;
}

.navbar-brand-logo	{
	color: #eff0f2 !important;
	font-size: 100% !important;
	border: 0px solid #333;
	width: 56px;
	height: 60px;		
}

#logo-wrapper	{
	border-radius: 0px;
	border-left: 0px solid #000;
	border-bottom: 2px solid #000;
	border-left: 0px solid #000;
	border-right: 0px solid #000;
	background-color: rgba(0, 238, 0, 0.0);
	padding-top: 10px;
	padding-bottom: 1.5%;
	position: relative;
	top: 55px !important;
	width: 100%;
	height: 25px !important;
	z-index: 4 !important;
}

#social	{
	text-decoration: none;
	z-index: 4 !important;
	color: #428BCA !important;
}

#github-button	{
	border: 2px solid #428BCA;
	border-radius: 5px;
	width: 100px;
	padding: 2px;
}

#linkedin-button	{
	border: 2px solid #428BCA;
	border-radius: 5px;
	width: 100px;
	margin-left: 30px !important;
	padding: 2px;
}

#center	{
	width: 100px;
	display: block;
	margin-left: auto !important;
	margin-right: auto !important;
	padding: 2px;
}

#carousel	{
	margin-top: 102px;
	border-top: 0px solid #000;
	border-bottom: 0px solid #333;
}

#carousel-wrapper	{
	position: auto;
	left: 0px !important;
	right: 0px !important;
	padding-bottom: 2%;
	background-color: #eff0f2 !important;
	width: 100%;
	border: 4px solid #eff0f2;
	padding-bottom: 100px;
}

.img-full-width	{
	height: 400px !important;
	width: 100% !important;
	z-index: -1 !important;
}

.img-self	{
	display: block;
	margin-left: auto;
	margin-right: auto;
	border: 2px solid #000;
	z-index: -1 !important;
}

.logo-img-self	{
	position: absolute;
	top: 5px;
	left: 52px;
	height: 50px !important;
	width: auto !important;
	border: 2px solid #000;
	z-index: -1 !important;
}

.LI-profile-pic {
	border: 2px solid #000 !important;
}

.LI-field-icon {
	border: 1px solid #CCC !important;
	border-radius: 3px !important;
	padding: 3px !important;
	background-color: #fff !important;
}

.navbar-header {
	opacity: 0.80 !important;
	width: 200px;
	height: 60px !important;
	margin-top: 5px;
	margin-left: 40px !important;
	padding: 10px !important;
}

.navbar-header .navbar-brand-text {
	font-family: "Roboto Condensed", sans-serif !important;
	font-weight: bold;
	font-size: 20px !important;
}


.carousel {
    height: 200px !important;
    overflow: hidden;
}

.carousel .item {
    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -ms-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
}

.carousel .active.left, .carousel .active.right {
    left: 0;
    opacity: .7;
    z-index: 2;
}

.carousel .next, .carousel .prev {
    left: 0;
    opacity: .7;
    z-index: 1;
}

#right, #left {
	background-image: none !important;
	color: #333 !important;
	z-index: 3 !important;
}



.hero-image	{
	background: url("../img/hero.jpg") no-repeat center top;
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	background-color: #333 !important;
  	padding-bottom: 40%;
  	
}


.hero-text	{
	position: relative;
	top: 250px !important;
	margin-left: auto;
	margin-right: auto;
	border: 0px solid #333 !important;
	width: 95%;
}


.social-nav-buttons	{
	border: 1px solid #c00 !important;
	margin-left: auto !important;
	margin-right: auto !important;
	width: 100% !important;
}


.main-hero-heading {
	border: 1px solid #eff0f2;
	border-radius: 5px;
	margin-left: auto;
	margin-right: auto;
	padding: 0px !important;
}


.heading-small {
	color: #eff0f2 !important;
	font-size: 20px !important;
}

.about-text	{
	position: relative;
	bottom: 150px !important;
	margin-left: auto;
	margin-right: auto;
	border: 0px solid #333 !important;
	width: 95%;
}

.underline-about {
	border-bottom: 6px solid #00a2e7;
	border-radius: 0px;
	margin-left: auto;
	margin-right: auto;
	width: 200px;
	letter-spacing: 4px;
}

.resume-job-text	{
	position: relative;
	bottom: 150px !important;
	margin-left: auto;
	margin-right: auto;
	border: 0px solid #333 !important;
	width: 95%;
	padding-top: 2%;
}

.underline-about-resume {
	border: 0px solid #00a2e7;
	border-radius: 0px;
	margin-left: auto;
	margin-right: auto;
	width: auto;
	letter-spacing: 4px;
}

.main-hero-heading h1 {
	color: #eff0f2;
	letter-spacing: 4px;
	font-family: "Roboto Condensed", sans-serif;
	font-weight: normal;
}

.underline-about h3 {
	color: #333;
	letter-spacing: 4px;
	
	font-weight: normal;
	font-size: 135%;
}



.resume-job-title	{
	position: relative;
	bottom: 150px !important;
	margin-left: auto;
	margin-right: auto;
	border: 0px solid #333 !important;
	width: 95%;
}

.underline-resume-title {
	border: 0px solid #00a2e7;
	border-radius: 0px;
	margin-left: auto;
	margin-right: auto;
	width: auto;
	letter-spacing: 4px;
}

.underline-resume-title h3 {
	color: #333;
	letter-spacing: 1px;
	font-family: "Times New Roman";
	font-weight: normal;
	font-size: 140%;
}

.resume-job-description	{
	position: relative;
	bottom: 150px !important;
	margin-left: auto;
	margin-right: auto;
	border: 0px solid #333 !important;
	width: 100%;
}

.underline-resume-description {
	border: 0px solid #00a2e7;
	border-radius: 0px;
	margin-left: auto;
	margin-right: auto;
	width: 100% !important;
}

.underline-resume-github {
	border: 0px solid #00a2e7;
	border-radius: 0px;
	margin-left: auto;
	margin-right: auto;
	width: auto;
	letter-spacing: 4px;
	padding-left: 31%;
	padding-right: 10%;
}

.underline-resume-description p {
	color: grey !important;
	letter-spacing: normal;
	
	font-weight: normal;
	font-size: 110%;
}

.underline-resume-title p{
	color: #333 !important;
	letter-spacing: normal;
	
	font-weight: normal;
	font-size: 115%;
}

.bullet-indicators{
	color: #333;
}

pre {
	font-size: 60%;
	border: 0px solid #333;
	padding: 15%;
	background-color: #eff0f2;
	opacity: 0.1;
  	filter: alpha(opacity=60);
  	color: #eff0f2 !important;
}

.white-hash-mark {
	color: #000;
}

#bullet-indicators	{
	z-index: 2 !important;
}




.carousel-indicators .active	{
	background-color: #f6f6f6;
}

.carousel-indicators li	{
	border: 1px solid #f6f6f6;
}

#jumbotron-carousel	{
	border: 0px solid #eff0f2;
	background-color: #eff0f2;
	width: 85%;
	height: 300px;
	
	margin-left: auto;
	margin-right: auto;
}

#jumbotron-carousel p	{
	color: #f6f6f6;
	font-weight: 400;
}


.jumbotron-home	{
	border: 0px solid #333;
	background-color: #eff0f2;
	margin-top: 2%;
	margin-left: auto !important;
	margin-right: auto !important;
	width: 80% !important;
	height: auto !important;
}

.jumbotron-home-only {
	width: 100% !important;
}


.jumbotron-home-about	{
	border: 0px solid #333;
	background-color: #eff0f2;
	margin-top: 2%;
	margin-left: auto !important;
	margin-right: auto !important;
	width: 85% !important;
}


#jumbotron-about	{
	border: 0px solid #333;
	background-color: #eff0f2;
	margin-top: 15%;
}

.about-main {
	background-color: #eff0f2;
	width: 100%;

}

.jumbotron p	{
	color: #333;
}

.jumbotron-font	{
	color: #333;
	text-align: center;
}

#main	{
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

#phone-prefix-label, #phone-suffix-label	{
	color: #eff0f2 !important;
	margin-left: -20% !important;
}

#area_code	{
	text-align: center !important;
}

#phone_prefix	{
	text-align: center !important;
	margin-left: -35% !important;
}

#phone_suffix	{
	text-align: center !important;
	margin-left: -50% !important;
}


#phone-prefix-dash		{
	margin-top: 30% !important;
	margin-left: -20px !important;
}

#phone-suffix-dash		{

	margin-top: 30% !important;
	margin-left: -60px !important;
}

#normal-justify-text	{
	font-size: 115% !important;
	color: #000;
	text-align: justify !important;
}

#normal-center-text	{
	color: #333 !important;
	font-size: 115% !important;
	text-align: center !important;
}



#text-right	{
	font-size: 105% !important;
	float: right !important;
}


#ul-contacts	{
	overflow: hidden !important;
	border: 1px solid #333;
	width: 200% !important;
}

@media screen and (min-width:0\0) { 
    select {
        background:none;
        padding: 5px; 
    }
}

select {
   -webkit-appearance: none !important;
   -moz-appearance: none !important;
   appearance: none;
   background: url(http://www.bobbywwilson.com/assets/img/glyphicons-602-chevron-down.ico) 90% / 5% no-repeat #333 !important;
   border: 1px solid #333 !important;
   color: #000 !important;
   background-color: #eff0f2 !important;
   cursor: pointer;
   text-indent: 30% !important;
   overflow: hidden !important; 
}

@-moz-document url-prefix() {
    #select {
    background-color: #eff0f2 !important;
    background: url(http://www.bobbywwilson.com/assets/img/glyphicons-602-chevron-down.ico) 90% / 5% no-repeat #eff0f2 !important;
    text-indent: 0% !important;
    overflow: hidden !important;
    }
}

input, textarea, select	{
	 border: 1px solid #333 !important;
	 background-color: #eff0f2 !important;
	 resize: none;
	 overflow: auto;
}

#state-admin	{
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
   background: url(http://www.bobbywwilson.com/assets/img/glyphicons-602-chevron-down.ico) 90% / 5% no-repeat !important;
   border: 1px solid #333 !important;
   color: #000 !important;
   background-color: #eff0f2 !important;
   cursor: pointer;
   text-indent: 15% !important;
}

#errors-box	{
	border: 1px solid #C00;
	border-radius: 5px;
	padding: 2%;
}

#client-errors-box	{
	display: none;
	border: 2px solid #C00;
	border-radius: 5px;
	padding: 2%;
}

.form-control.hasError {
    margin-bottom: 10px;
}

.required	{
	color: #c00 !important;
    font-weight: normal 400;
}


.required.hasError	{
	display: none !important;
}

.hidden	{
	display: none !important;
}


.control-label {
    height: 35px;
    line-height: 35px;
    display: inline-block !important;
}

.control-label.hasError {
    color: #c00 !important;
}

.hidden.hasError {
    color: #c00 !important;
    display: inline !important;
}

.hidden.noError {
    display: none !important;
}

input.hasError, textarea.hasError, select.hasError	{
	border: 2px solid #C00 !important;
}

input.noError, textarea.noError, select.noError	{
	border: 1px solid #333 !important;
	background-color: #eff0f2 !important;
	resize: none;
	overflow: auto;
}

label {
    width: 100% !important;
    border: 0px solid #c00;
}
#col-md-left	{
	border: 0px solid #c00;
	padding: 5% 1.5% 1.5% 1.5%;
}

.LI-badge-container.horizontal.light {
	border: 1px solid #CCC !important;
	border-radius: 4px !important;
	width: 100% !important;
}

#map-canvas		{
	margin-top: 15%;
	margin-bottom: 10% !important;
	border: 1px solid #CCC;
	border-radius: 5px !important;
	background-color: #F4F4F4;
	height: 258px;
	cursor: pointer !important;
}


@-moz-document url-prefix() {
#map-canvas {
	height: 265px;
	}
}

#spacer	{
	visibility: hidden !important;
}

.hr {
  	-moz-border-bottom-colors: none;
  	-moz-border-image: none;
		-moz-border-left-colors: none;
		-moz-border-right-colors: none;
		-moz-border-top-colors: none;
  	-moz-use-text-color #333;
  	border-color: #CCC;
  	border-style: solid;
  	margin-top: 1px !important;
  	padding-bottom: -2% !important; 
  	width: 70% !important;
}

.hr-contact {
  	-moz-border-bottom-colors: none;
  	-moz-border-image: none;
		-moz-border-left-colors: none;
		-moz-border-right-colors: none;
		-moz-border-top-colors: none;
  	-moz-use-text-color #333;
  	border-color: #CCC;
  	border-style: solid;
  	margin-top: 1px !important;
  	padding-bottom: -2% !important; 
  	width: 50% !important;
}


#submit	{
	margin-top: 2%;
	width: 100% !important;
	background-color: #eff0f2 !important;
	border: 3px solid #333 !important;
	color: #333 !important;
}



#navbar-footer-wrapper	{
	background-color: #000;
	border-radius: 0px;
	position: relative !important;
	bottom: 0px !important;
	margin-bottom: 0px !important;
	color: #eff0f2 !important;
	width: 100%;
	height: 150px;
	opacity: 0.80;
	
}

.navbar-footer	{
	margin-top: 0%;
	margin-right: auto;
	margin-left: auto;
	width: 230px;
	height: 60px;
	border: 0px solid #eff0f2;
}



#footer-container	{
	margin-top: 2%;
	border: 0px solid #eff0f2;
}

.mobile	{
	display: none !important;
}

.mobile-nav-return	{
	display: none !important;
}

.btn-large	{
	font-weight: bold !important;
	font-size: 110% !important;
	background-color: #000 !important;
	color: #eff0f2 !important;
	padding: 3% !important;
	width: 100% !important;
	border: 5px solid #000 !important;

}

.resume-job-button {
	position: relative;
	bottom: 150px !important;
	margin-left: auto;
	margin-right: auto;
	border: 0px solid #333 !important;
	width: 100%;
}

.resume-job-button a	{

	background-color: #000 !important;
	color: #eff0f2 !important;

}


.btn-large:hover	{
	background-color: #000 !important;
	color: #eff0f2 !important;
	opacity: 0.80 !important;
}



.social-button {
	font-size: 15px;
	font-weight: bold;
	color: #eff0f2 !important;
}

.icon-color {
	color: #eff0f2 !important;
	font-size: 40px !important;
	padding: 10px !important;
}


.fa-5x-html5 {
	color: #E34F26 !important;
	font-size: 1600% !important;
}


.fa-5x-css3 {
	color: #0170BA !important;
	font-size: 1600% !important;
}

.fa-5x-js {
	margin-left: auto !important;
	margin-right: auto !important;
	height: auto !important;
	width: 193px !important;
}

.fa-5x-c-sharp {
	margin-left: auto !important;
	margin-right: auto !important;
	height: auto !important;
	width: 193px !important;
} 

.fa-5x-less {
	margin-left: auto !important;
	margin-right: auto !important;
	height: 140px !important;
	width: auto !important;
}

.fa-5x-cakephp {
	margin-left: -7.5% !important;
	margin-right: auto !important;
	height: auto !important;
	width: 115% !important;
}

.fa-5x-mssql {
	margin-top: 20px;
	margin-left: auto !important;
	margin-right: auto !important;
	height: 150px !important;
	width: auto !important;
}

.fa-5x-laravel {
	margin-top: 20px;
	margin-left: auto !important;
	margin-right: auto !important;
	height: 140px !important;
	width: auto !important;
}

.code-logo {
	padding: 3% !important;	
}

.code-logo-heading {
	background-color: #333;
	border: 1px solid #333;
	border-bottom: 1px solid #333;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	padding: 0 15px 0 15px !important;
}


.code-logo-heading h4 {
	color: #eff0f2;
}

.code-logo-icon {
	background-color: #fff;
	border: 1px solid #fff;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	padding: 8% !important;
	opacity: 0.70 !important;
	box-shadow: 0px 3px 31px 3px #888;
	min-height: 280px;
}

.code-logo-icon-1 {
	background-color: #fff;
	border: 1px solid #fff;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	padding: 8% !important;
	opacity: 0.70 !important;
	box-shadow: 0px 3px 31px 3px #888;
	height: auto !important;
}

.code-logo-icon-2 {
	background-color: #eff0f2;
	color: #eff0f2 !important;
	border: 1px solid #94aaa6;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	padding: 8% !important;
	opacity: 0.70 !important;
	box-shadow: 0px 3px 31px 3px #888;
	height: auto !important;
}


.screenshot-box {
	background-color: #eff0f2;
	color: #eff0f2 !important;
	border: 0px solid #eff0f2;
	border-radius: 5px !important;
	padding: 0% !important;
	box-shadow: 0px 3px 31px 3px #888;
	margin-left: -10px;
}

.screenshot-box-404 {
	background-color: #eff0f2;
	color: #eff0f2 !important;
	border: 0px solid #eff0f2;
	border-radius: 5px !important;
	padding: 0 0 0 0; !important;
	box-shadow: 0px 3px 31px 3px #888;
	width: 80%;
	height: auto;
	margin-left: auto;
	margin-right: auto;
}

.screenshot-box-home {
	background-color: #eff0f2;
	color: #eff0f2 !important;
	border: 1px solid #94aaa6;
	border-radius: 2px !important;
	padding: 0% !important;
	box-shadow: 0px 3px 31px 3px #888;
}

.screenshot-box img {
	border: 0px solid #94aaa6 !important;
	border-radius: 5px !important;
	margin-left: auto !important;
	margin-right: auto !important;
	height: auto !important;
	width: 100% !important;	
}

.screenshot-box-404 img {
	border: 0px solid #94aaa6 !important;
	border-radius: 5px !important;
	margin-left: auto !important;
	margin-right: auto !important;
	height: auto !important;
	width: 100% !important;	
}


.img-rounded {
	background-color: #94aaa6 !important;
	border-radius: 50px !important;
	padding: 1% !important;
}

.code-logo-icon-2 p {
	color: #eff0f2 !important;
}

.circle-icon {
	margin-top: -35px !important;
	font-size: 30px; !important;
	color: #94aaa6;
} 

.circle-icon-work {
	margin-top: -35px !important;
	font-size: 30px; !important;
	color: #eff0f2;
} 

.home-container {
	border-bottom: 0px solid #333;
	width: 100% !important;
	opacity: 0.85 !important;
}


hr {
	width: 85% !important;
}



.active {
	background-color: #c00 !important;
}


.work-logo-1 {
	margin-left: auto !important;
	margin-right: auto !important;
	height: auto !important;
	width: 225px !important;
}


.work-logo-2 {
	margin-left: auto !important;
	margin-right: auto !important;
	height: auto !important;
	width: 250px !important;
}


h3 {
	color: #333 !important;
	font-size: 20px !important;
	opacity: 0.80 !important;
}


.jumbotron {
		border: 1px solid #green !important;
		background-color: #eff0f2;
		width: 85%;
		height: 300px;
		margin-left: auto;
		margin-right: auto;
}


.mobile-dropdown {
	display: none !important;
}


.confirmation {
	font-family: "Roboto Condensed", sans-serif !important;
	font-weight: normal !important;
	color: #333 !important;
	text-decoration: none !important;
}


.confirmation-box {
	width: 70% !important;
}



